<!DOCTYPE HTML>
<html>
    <head>
        <!-- CSS only -->
        <link 
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
         rel="stylesheet" 
         integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
         crossorigin="anonymous"
        >

        <!-- JavaScript Bundle with Popper -->
        <script
         src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
         integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" 
         crossorigin="anonymous"
        ></script>
        <title>PG(Predict the Game)</title>
    </head>
    <body>
        <form>
            <p>게임 플레이 시간</p>
            <input type="number" name="Playtime" min="0"/>


            <p>게임 출시 플랫폼의 수</p>
            <p>ex) Nintendo Switch, Xbox => 2 입력</p>
            <input type="number" name="Platform" min="0"/>

            <p>게임 장르 선택</p>
            <select class="form-select" aria-label="Default select example">
                <option selected>Choose a Genre</option>
                <option name="1">One</option>
                <option name="2">Two</option>
                <option name="3">Three</option>
            </select>

            


        </form>
    </body>
</html>